.cardContainer{
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 0;
}
.Card{
     align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-radius: 8px;
    padding: 0;

}